INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
cscope.out
src/.libs/
src/*.la
src/*.lo
src/*.o
*~
src/*~
test-driver
tests/tokens
tests/tmp
