# project-specific ignore patterns
tests/openssl.cnf
tests/openssl.cnf.softhsm
tests/tmp.softhsm
tests/tmp.softokn
tests/tdigests
tests/tsession
tests/tgenkey
tests/treadkeys
tests/pinfile.txt
tests/*.log
tests/*.trs
tests/pincache
tests/tfork
tests/tlsctx

/pkcs11-provider-?.?/
/pkcs11-provider-?.?.tar.?z

# generic ignore patterns (c, autotools, etc)
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
compile_commands.json
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/config.h
src/config.h.in
src/stamp-h1
.deps/
.libs/
*.la
*.lo
*.o
*~
test-driver
tags
.tags
!tags/
TAGS
.TAGS
!TAGS/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
