# project-specific ignore patterns
tests/openssl.cnf
tests/openssl.cnf.softhsm
tests/tmp.softhsm
tests/tmp.softokn
tests/tdigests
tests/tdigest_dupctx
tests/tsession
tests/tgenkey
tests/treadkeys
tests/pinfile.txt
tests/*.log
tests/*.trs
tests/pincache
tests/tfork
tests/tfork_deadlock
tests/tlsctx
tests/tcmpkeys

/pkcs11-provider-?.?/
/pkcs11-provider-?.?.tar.?z

# generic ignore patterns (c, autotools, etc)
*.o
*~
test-driver
tags
.tags
!tags/
TAGS
.TAGS
!TAGS/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
__pycache__/
