# Copyright (C) 2022 Simo Sorce <simo@redhat.com>
#
# SPDX-License-Identifier: CC0-1.0

name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: CI with softoken
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      name: Checkout Repository
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libnss3 libnss3-tools libnss3-dev
    - name: Setup
      run: |
        autoreconf -fiv
        ./configure
    - name: Build and Test
      run: |
        make
        make check
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: Test logs
        path: |
          tests/test.sh.log
          tests/openssl.cnf
          tests/tmp/p11prov-debug.log
          tests/tmp/debugvars
          config.log
