---
name: Check Style

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Check Style
    runs-on: ubuntu-22.04
    container: fedora:latest
    steps:
      - name: Install Dependencies
        run: |
          dnf -y install $COMPILER automake libtool pkgconf-pkg-config \
                autoconf-archive git openssl-devel clang-tools-extra \
                python3-pip codespell
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Install compiledb
        run: |
          pip install compiledb
      - name: Setup
        if: ${{ github.event.pull_request.base.sha }}
        run: |
          git config --global --add safe.directory \
              /__w/pkcs11-provider/pkcs11-provider
          git fetch origin main ${{ github.event.pull_request.base.sha }}
      - name: Generate Makefile
        run: |
          autoreconf -fiv
          ./configure
          compiledb make
      - name: Run Clang Tidy
        run: |
          run-clang-tidy \
            -checks=-*,readability-braces-around-statements \
            -config "{WarningsAsErrors: '*'}" \
            -header-filter "src/oasis" \
            -quiet
      - name: Check the Style
        run: make check-style || (make check-style-show; exit -1)
      - name: Check spelling
        run: codespell --ignore-words-list="sorce,clen,adin" *.md Makefile.am \
            configure.ac src tests -S src/oasis
