name: Check Style

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Check Style
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      name: Checkout Repository
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y autoconf-archive clang-format clang-tidy codespell
    - name: Install compiledb
      run: |
        sudo apt install python3-pip
        pip install compiledb
    - name: Setup
      if: ${{ github.event.pull_request.base.sha }}
      run: |
        git fetch origin main ${{ github.event.pull_request.base.sha }}
    - name: Generate Makefile
      run: |
        autoreconf -fiv
        ./configure
        compiledb make
    - name: Run Clang Tidy
      run: |
        /usr/bin/run-clang-tidy-14 \
         -checks=-*,readability-braces-around-statements \
         -config "{WarningsAsErrors: '*'}" \
         -header-filter "src/oasis" \
         -quiet
    - name: Check the Style
      run: make check-style
    - name: Show Style diff in case of failure
      if: failure()
      run: make check-style-show
    - name: Check spelling
      run: codespell --ignore-words-list="sorce" *.md Makefile.am configure.ac src tests -S src/oasis
